body {
  color: white;
  background-color: #202124;
}

hr {
  border-top: 2px dotted var(--darkBordercl);
}

code {
  background-color: lightblue;
  color: black;
  text-decoration: bold;
  padding: 0.1em 0.2em;
}

pre {
  background-color: #272822;
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em;
}

blockquote {
  border-color: var(--darkBordercl);
  ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ddd;
}

h1::before {
  color: var(--darkMaincolor);
  content: "# ";
}

h2::before {
  color: var(--darkMaincolor);
  content: "## ";
}

h3::before {
  color: var(--darkMaincolor);
  content: "### ";
}

h4::before {
  color: var(--darkMaincolor);
  content: "#### ";
}

h5::before {
  color: var(--darkMaincolor);
  content: "##### ";
}

h6::before {
  color: var(--darkMaincolor);
  content: "###### ";
}

footer {
  border-top: 0.2rem solid var(--darkBordercl);
}

a {
  border-bottom: 2px solid var(--darkMaincolor);
  color: inherit;
}

a:hover {
  background-color: var(--darkMaincolor);
  color: black;
}

.site-description a {
  color: #ddd;
}

.site-description a:hover {
  color: black;
}

.tags a {
  border-bottom: 2px solid var(--darkMaincolor);
}

.tags a:hover {
  background-color: var(--darkMaincolor);
  color: black;
}

.site-title a {
  color: white;
  text-decoration: none !important;
}

.header nav,
.footer {
  border-color: #333;
}

.highlight {
  background-color: #333;
}

.soc:hover {
  color: black;
}

.draft-label {
  color: var(--darkMaincolor);
  background-color: blue;
}

::-webkit-scrollbar {
  background: #303030;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, 0.7);
}

blockquote {
  color: #999;
}

.meta {
  color: #999;
}

img {
  border: 3px solid #a0a0a0;
}