<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			
			<main class="list">
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
				<section class="list-item">
					<h1 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h1>
					<time>发表于 {{ dateFormat "2006 年 1 月 2 日" .Date }}{{ if .Draft }} <span class="draft-label">草稿</span> {{ end }}</time>
					<br><div class="description">
						{{ if isset .Params "description" }}
						{{ .Description }}
						{{ else }}
						{{ .Summary }}
						{{ end }}
					</div>
                    <a class="readmore" href="{{ .RelPermalink }}">阅读全文 »</a>
				</section>
				{{ end }}
			</main>
			{{ template "partials/paginator.html" . }}
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>
